## Create chat_messages table

In [ ]:
%%sql
CREATE TABLE chat_messages (
    event_id VARCHAR(255) PRIMARY KEY,  
    chat_id VARCHAR(255),
    timestamp datetime(6),
    emotion_features JSON,
    message_text TEXT,
    shard key(event_id),
    sort key(timestamp)
);

## Create vitals table

In [4]:
%%sql
CREATE TABLE vitals (
    patient_id INT,
    timestamp TIMESTAMP,
    heart_rate INT,
    blood_pressure VARCHAR(10),
    glucose_level DECIMAL(5,2),
    activity_level VARCHAR(20),
    SHARD KEY (patient_id, timestamp)
);

++
||
++
++

## Create Kafka Pipeline

Here we're using a Python script that generates mock vitals data in a loop, and an EC2 Kafka instance.

In [ ]:
%%sql
CREATE PIPELINE vitals AS
LOAD DATA KAFKA '52.8.79.152/health_metrics' -- replace with your kafka broker endpoint
INTO TABLE vitals
format JSON;

++
||
++
++

In [160]:
%%sql
start pipeline vitals

++
||
++
++

In [200]:
%%sql
select * from vitals;

20 rows affected.

+------------+---------------------+------------+----------------+---------------+----------------+
| patient_id |      timestamp      | heart_rate | blood_pressure | glucose_level | activity_level |
+------------+---------------------+------------+----------------+---------------+----------------+
|    148     | 2024-12-03 11:18:06 |     94     |     120/80     |     163.00    |     active     |
|    610     | 2024-12-03 11:30:24 |     65     |     140/90     |     118.00    |  very active   |
|    103     | 2024-12-03 11:18:06 |     66     |     140/90     |     168.00    |     light      |
|    814     | 2024-12-03 11:30:26 |     70     |     120/80     |     91.00     |     active     |
|    343     | 2024-12-03 11:30:20 |     95     |     130/85     |     154.00    |     active     |
|    430     | 2024-12-03 11:30:23 |     69     |     120/80     |     165.00    |     active     |
|    940     | 2024-12-03 11:30:17 |     68     |     140/90     |     107.00    |     active     |
|    917     | 2024-12-03 11:30:21 |     90     |     130/85     |     106.00    |     active     |
|    813     | 2024-12-03 11:30:22 |     73     |     140/90     |     125.00    |    moderate    |
|    959     | 2024-12-03 11:18:06 |     95     |     150/95     |     103.00    |     light      |
|    393     | 2024-12-03 11:18:06 |     93     |     110/70     |     106.00    |     active     |
|    411     | 2024-12-03 11:30:25 |     88     |     120/80     |     82.00     |   sedentary    |
|     67     | 2024-12-03 11:30:18 |     78     |     140/90     |     83.00     |     light      |
|    190     | 2024-12-03 11:18:06 |     78     |     150/95     |     143.00    |    moderate    |
|    446     | 2024-12-03 11:30:19 |     68     |     120/80     |     85.00     |     active     |
|    314     | 2024-12-03 11:18:06 |     77     |     140/90     |     93.00     |   sedentary    |
|    971     | 2024-12-03 11:18:06 |     90     |     130/85     |     104.00    |     light      |
|    408     | 2024-12-03 11:18:06 |     62     |     120/80     |     122.00    |   sedentary    |
|    570     | 2024-12-03 11:18:06 |     66     |     110/70     |     111.00    |  very active   |
|    300     | 2024-12-03 11:18:06 |     74     |     130/85     |     132.00    |     active     |
+------------+---------------------+------------+----------------+---------------+----------------+